[submodule "ext/closure-library"]
	path = ext/closure-library
	url = git://github.com/google/closure-library
[submodule "ext/xmlhttprequest-sync"]
	path = ext/xmlhttprequest-sync
	url = git://github.com/gena/node-XMLHttpRequest
[submodule "ext/earthengine-api"]
	path = ext/earthengine-api
	url = https://github.com/google/earthengine-api.git
