[submodule "ext/closure-library"]
	path = ext/closure-library
	url = git://github.com/google/closure-library
[submodule "ext/xmlhttprequest-sync"]
	path = ext/xmlhttprequest-sync
	url = git://github.com/gena/node-XMLHttpRequest
